body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("https://cdn.pixabay.com/photo/2016/10/03/13/04/artificial-turf-1711556_1280.jpg");
  

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ---------Home Page CSS --------- */
.allpro{
  margin: 80px 0px 20px 800px;
  background-color: #2ad170; 
  border: 2 solid;
  border-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;

}
.logo{

  width: 400px;
  height: 150px;
  margin-top: 50px;
  margin-left: 400px;
}

/* --------ITEMS CSS -------- */
.card1{
  border: solid;
  margin: 10px;
  display: inline;
  justify-content: flex-start;
  float: left;
  width: 300px;
  text-align: center;
  border-radius: 33px;
  border-style: hidden;
  background-color: white;
}
.card1 p{
  font-size: 18px;
}
.card1 h2{ 
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}
.card1 img{
  height: 200px;
  width: 200px;
  border-radius: 33px;
  
}



/* ----------Store page CSS ---------- */

/* mainDiv */
.store{
  display: flex;
  flex-direction: row ;
  justify-content: center;
}


.clothe{
  display: flex;
  margin: 20px 20px 20px 0px;
  background-image: url("https://threadcurve.com/wp-content/uploads/2020/06/Athletic-wear-for-men-june042020.jpg.webp");
  background-repeat: no-repeat;
  background-size: 100% ;
  width: 300px;
  height: 200px;


}
.instrument{
  display: flex;
  margin: 20px 20px 20px 0px;
  background-image: url("https://cdn.pixabay.com/photo/2015/07/02/10/27/training-828764_1280.jpg");
  background-size: 100% ;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;

}

.accessories{
  display: flex;
  margin: 20px 20px 20px 0px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/50eca9dae4b0a16d22fa61ea/1481461416481-NPHZT85MJBGWMUDF9A1J/image-asset.jpeg?format=1500w");
  background-repeat: no-repeat;
  background-size: 100% ;
  width: 300px;
  height: 200px;

}
#all div div h4{
  margin: 3px 0px 0px 30px;
  color: white;
  
}

/* ----------Show Items CSS ---------- */
#show{
  padding-left: 80px;
  padding-top: 40px;
  color: white;

}

#show img{
  display: flex;
  flex-direction: column;
  float: left;
  height: 400px;
  width: 400px;
  border-radius: 10%;
  
}
#show h1{
  padding-left: 20px;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 1px;

}

#show div{
  margin-left: 30px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  width: 500px;
  height: 400px;
  display:inline-block;
  background-color: rgba(0, 0, 0, 0.457);

}
/* Price */
#show div h1{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-decoration: underline white;
  text-decoration-thickness: 0.5px;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 1px;

}

#show div button{
  margin-top: 10px 00px 10px 60px;
  /* margin-left: 60px; */
  background-color: #2ad170; 
  color: white;
  border-radius: 30px;
  border-style: hidden;
  float:inherit;
  
}
/* -------FORM CSS----- */

#form{
  background-color: rgba(0, 0, 0, 0.457);
  margin: center;
  padding-left: 100px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: white
}
#form label{
  margin-bottom: 10px;
  margin-top: 5px;
  text-decoration: underline;
}

#form input{
  width: 300px;

}
#form textarea{
  width: 400px;
  height: 100px;
}

/* form pic */
#form div img{
  height: 200px;
  width: 200px;
}




